body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 80%;
    height: auto;
}

/* Animation */
.slideshow-container:hover .slide {
    animation: fade 5s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}
